{% extends "base.html.twig" %}

{% block content %}
      <section id="about">
        <div class="container">
          <div id="about" style="padding-top: 100px; padding-bottom: 100px" class="row">
            <div class="col-md-12">
              <h1 style="font-size:70px;">{{content.title}}</h1>
              <br>
              {{content.article}}
            </div>
          </div>
        </div>
      </section>
{% endblock content %}