{% extends "base.html.twig" %}

{% block content %}
<section id="aboutMe">
    <div class="container-fluid" style="padding:0;">
      <div class="container">
        <div id="about" style="padding-top: 100px; padding-bottom: 100px" class="row">
          <div class="col-md-12">
            <h1 style="font-size:70px;">Who am I exactly</h1>
            <br>
            <p><H2>An aspiring PHP Developer with an interest over data privacy and it's regulation. 
              I am a competent IT Professional that is proficient in the website development scene. 
              I have strong technical skills as well as excellent interpersonal skills that enables me to interact with a wide range of people. 
              I am eager to be challenged in order to grow and further improve my IT skills. 
              My passion in life is using my technical know-how to benefit other people and organisations. 
              As long as i remember i have great facination with technologies and computers. Fiddling with technologies, fixing computers, and some occasional bike repair is a hobby of mine.</h2> </p>
            <p><h2>in organizations that i joined, multiple times i am entrusted with technical side of any event that the organization held.
              because of that, any technical  related things whether supplying the event with the required hardware, 
              following the standard operating procedure for problems, or even providing advice for hardware or software to use in the event is something that i am proficient with. 
              if there is a technical problem my friends always come to me for advice.</h2></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}