{% extends "base.html.twig" %}

{% block content %}
<section id="skill">
      <div class="container-fluid" style="background: #f8f8f8; padding-top: 10px; padding-bottom: 80px;">
        <div class="container" id="service">
          
          <div class="row" class="service" style="margin-top: 50px;">
            <div class="col-md-12 text-center" style="padding-bottom: 50px;">
              <h1>Skills</h1>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/php.png" class="img-rounded" />
              <h3>PHP</h3>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/laravel.png" class="img-rounded" />
              <h3>Laravel</h3>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/wordpress.png" class="img-rounded" />
              <h3>WordPress</h3>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/python.png" class="img-rounded" />
              <h3>Python</h3>
            </div>
          </div>

          <div class="row" class="service" style="margin-top: 50px;">
            <div class="col-md-3 text-center">
              <img src="images/html.png" class="img-rounded" />
              <h3>HTML</h3>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/css.png" class="img-rounded" />
              <h3>CSS3</h3>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/mysql.png" class="img-rounded" />
              <h3>MySQL</h3>
            </div>
            <div class="col-md-3 text-center">
              <img src="images/mongodb.png" class="img-rounded" />
              <h3>MongoDB</h3>
            </div>
          </div>
          
        </div>
      </div>
</section>
{% endblock content %}