<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

          
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}

    <title>Welcome!</title>

     {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}


  
  </head>

  <body>

    
  

      <!-- header start -->
      <header>
          <nav class="navbar navbar-fixed-top">
            <div class="container">
              <img src="images/coconut(3).png" alt="coconut logo" style="padding-top:10px;">
              <a class="navbar-brand" href="index.html#home">  Rizky Insan</a>
              <ul class="nav navbar-nav navbar-right tinggi kanan">
                <li style="font-size:20px;"><a href="#home">Home</a></li>
                <li style="font-size:20px;"><a href="#means">Contact</a></li>
                <li style="font-size:20px;"><a href="CV/Rizky_CV.pdf">See My CV here</a></li>
              </ul>
            </div>
          </nav>
      </header>
      <!-- end of header -->

      <!--content start -->

      {% block content %}
      {% endblock content %}

      <!-- end of conten -->

  </body>

  </html>
