<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome!</title>

    <!-- Bootstrap -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'></script>
    <script>
      $(document).ready(function () {
        $('.bxslider').bxSlider({
          auto: true,
          autoControls: true
        });
      });
    </script>

    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <style>
      body,
      html {
        height: 100%;
      }

      .parallax {
        /* The image used */
        background-image: url('images/IMG_1999.JPG');

        /* Full height */
        height: 99%;
        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

      @media only screen and (max-device-width: 1024px) {
        .parallax {
          background-attachment: scroll;
        }
      }

      .parallax2 {
        /* The image used */
        background-image: url('images/IMG_2001.JPG');

        /* Full height */
        height: 100%;
        width: 100%;
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }
      /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

      @media only screen and (max-device-width: 1024px) {
        .parallax {
          background-attachment: scroll;
        }
      }
    </style>

     {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}
  
  </head>

  <body class="container-fluid" style="padding: 0;">

    <!-- header start -->
   <header>
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <img src="images/coconut(3).png" style="padding-top:10px;">
          <a class="navbar-brand" href="index.html#home">  Rizky Insan</a>
          <ul class="nav navbar-nav navbar-right tinggi kanan">
            <li style="font-size:20px;"><a href="index.html#home">Home</a></li>
            <li style="font-size:20px;"><a href="index.html#means">Contact</a></li>
            <li style="font-size:20px;"><a href="CV/Rizky_CV.pdf">See My CV here</a></li>
          </ul>
        </div>
      </nav>
   </header>
          <!-- end of header -->
    <div id="home" class="parallax vertical-center">
      <div class="slider_content_outer" style="position: relative; height: 100%;">
        <div class="slider_content skrollable skrollable-between" style="position: absolute; width: 98%; left: 0%; top: 33%; opacity: 1;"
          data-0=" opacity: 1; width:98%; left:0.0%; top:33%; position: absolute" data-300=" opacity: 0; left:0.0%; top:23%;">
          <div style="text-align: center" class="text all_at_once subtitle_bellow_title no_separator">
          <div>
              <h4 style="     text-shadow: 1px 1px 2px rgba(0,0,0,.4);color: #ffffff;font-size: 26px;font-style: normal;font-weight: 600"><span>Hi I am Rizky Fathur Insan</span></h4>
            </div>
            <div>
              <h2 style="    text-shadow: 1px 1px 2px rgba(0,0,0,.4); color: #ffffff;font-size: 64px;line-height: 90px;font-style: normal;font-weight: 600;letter-spacing: -4px;text-transform: none;"><span style="">An Aspiring <u>Web Developer</u> and a tech entushiast</span>
              </h2>
            </div>
            
        </div>
      </div>
    </div>
    
    <div class="container-fluid" style="padding:0;">
      <section id="about">
        <div class="container">
          <div id="about" style="padding-top: 100px; padding-bottom: 100px" class="row">
            <div class="col-md-12">
              <h1 style="font-size:70px;">Who am I exactly</h1>
              <br>
              <p><H2>An aspiring PHP Developer with an interest over data privacy and it's regulation. 
                I am a competent IT Professional that is proficient in the website development scene. 
                I have strong technical skills as well as excellent interpersonal skills that enables me to interact with a wide range of people. 
                I am eager to be challenged in order to grow and further improve my IT skills. 
                My passion in life is using my technical know-how to benefit other people and organisations. 
                As long as i remember i have great facination with technologies and computers. Fiddling with technologies, fixing computers, and some occasional bike repair is a hobby of mine.</h2> </p>
              <p><h2>in organizations that i joined, multiple times i am entrusted with technical side of any event that the organization held.
                because of that, any technical  related things whether supplying the event with the required hardware, 
                following the standard operating procedure for problems, or even providing advice for hardware or software to use in the event is something that i am proficient with. 
                if there is a technical problem my friends always come to me for advice.</h2></p>
              <p></p>
            </div>
          </div>
        </div>
      </section>

      <section id="skills">
        <div class="container-fluid" style="background: #f8f8f8; padding-top: 10px; padding-bottom: 80px;">
          <div class="container" id="service">

            <div class="row" class="service" style="margin-top: 50px;">
              <div class="col-md-12 text-center" style="padding-bottom: 50px;">
                <h1>Skills</h1>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/php.png" class="img-rounded" />
                <h3>PHP</h3>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/laravel.png" class="img-rounded" />
                <h3>Laravel</h3>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/wordpress.png" class="img-rounded" />
                <h3>WordPress</h3>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/python.png" class="img-rounded" />
                <h3>Python</h3>
              </div>
            </div>

            <div class="row" class="service" style="margin-top: 50px;">
              <div class="col-md-3 text-center">
                <img src="images/html.png" class="img-rounded" />
                <h3>HTML</h3>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/css.png" class="img-rounded" />
                <h3>CSS3</h3>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/mysql.png" class="img-rounded" />
                <h3>MySQL</h3>
              </div>
              <div class="col-md-3 text-center">
                <img src="images/mongodb.png" class="img-rounded" />
                <h3>MongoDB</h3>
              </div>
            </div>

          </div>
        </div>
      </section>

    <section id="footer">
      <div class="parallax2">
       <div class="slider_content_outer" style="position: relative; height: 100%;">
        <div class="slider_content skrollable skrollable-between" style="position: absolute; width: 98%; left: 0%; top: 33%; opacity: 1;"
          data-0=" opacity: 1; width:98%; left:0.0%; top:33%; position: absolute" data-300=" opacity: 0; left:0.0%; top:23%;">
          <div style="text-align: center; margin-top: 150px" class="text all_at_once subtitle_bellow_title no_separator">
            <div>
              <h2 style="text-shadow: 1px 1px 2px rgba(0,0,0,.4); color: #ffffff;font-size: 64px;line-height: 90px;font-style: normal;font-weight: 600;letter-spacing: -4px;text-transform: none;"><span style="">Interested? <br>Lets have a <u>conversation </u> then through:</span></span>
              </h2>
            </div>
            <div class="container-fluid" id="means">
            <div class="row" class="means" >
            <div class="col-md-12 text-center">
              <a href="https://www.linkedin.com/in/rizky-insan-8a21b1125/">
              <img src="images/linkedin.png">
              <a href="https://www.facebook.com/rizky.f.insan/">
              <img src="images/facebook.png">
              <a href="mailto:rizkyfathurinsan@gmail.com">
              <img src="images/email.png">
              <a href="mailto:rizkyfathurinsan@gmail.com">
            </div>
            <div class="col-md-12 text-center">
              <h2 style="text-shadow: 1px 1px 2px rgba(0,0,0,.4); color: #ffffff;font-size: 34px;line-height: 90px;font-style: normal;font-weight: 600;letter-spacing: -4px;text-transform: none;"><span style="">or call: +31 (0)6 10690834</span></span>
                </h2>
            </div>
        
      </div>
      </div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>

  </body>

  </html>
